html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5;
}

body {
  margin: 0;
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: .8rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-primary);
  outline: none;
  text-decoration: none;
}

a:focus {
  box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2);
}

a:focus,
a:hover,
a:active,
a.active {
  color: var(--color-primary-dark);
  border-bottom: 1.5px;
}

a:visited {
  opacity: .65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
  font-weight: 500;
}

h1,
.f1 {
  font-size: 2rem;
}

h2,
.f2 {
  font-size: 1.6rem;
}

h3,
.f3 {
  font-size: 1.4rem;
}

h4,
.f4 {
  font-size: 1.2rem;
}

h5,
.f5 {
  font-size: 1rem;
}

h6,
.f6 {
  font-size: .8rem;
}

p {
  margin: 0 0 1.2rem;
}

section {
  margin-bottom: 3.2rem;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: .05rem dotted;
  cursor: help;
  text-decoration: none;
}

kbd {
  background: var(--color-base-content);
  border-radius: var(--roundness);
  color: var(--color-base-100);
  font-size: .7rem; 
  line-height: 1.25;
  padding: .1rem .2rem;
}

mark {
  background: var(--color-warning);
  border-bottom: .05rem solid var(--color-warning-dark);
  border-radius: var(--roundness);
  color: var(--color-warning-content);
  padding: .05rem .1rem 0;
}

blockquote {
  border-left: .1rem solid var(--color-base-300);
  margin-left: 0;
  padding: .4rem .8rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: .8rem 0 .8rem .8rem;
  padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: .8rem 0 .8rem .8rem;
}

ul li,
ol li {
  margin-top: .4rem;
}

ul {
  list-style: disc inside;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style: decimal inside;
}

ol ol {
  list-style-type: lower-alpha;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: .4rem 0 .8rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; 
  width: 100%;
}

.stripe tbody tr:nth-of-type(odd) {
  background: var(--color-base-200);
}

table tbody tr.active,
table.stripe tbody tr.active {
  background: var(--color-secondary); /* or primary-light? secondary var is e5e5f9, close enough to eef0f3 */
}

table.hover tbody tr:hover {
  background: var(--color-base-300);
}

table td,
table th {
  border-bottom: .05rem solid var(--color-base-200);
  padding: .6rem .4rem;
}

table th {
  border-bottom-width: .1rem;
}

code {
  background: var(--color-error-light, #fcf2f2);
  border-radius: var(--roundness);
  color: var(--color-error);
  font-size: 85%; 
  line-height: 1.25;
  padding: .1rem .2rem;
}

pre {
  border-radius: var(--roundness);
  color: var(--color-base-content);
  position: relative;
}

pre::before {
  color: var(--color-base-content);
  opacity: .65;
  content: attr(data-lang);
  font-size: .7rem;
  position: absolute;
  right: .4rem;
  top: .1rem;
}

pre code {
  background: var(--color-base-300);
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.responsive::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.responsive iframe,
.responsive object,
.responsive embed {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

video {
  height: auto;
  max-width: 100%;
}

video::before {
  content: none;
}

progress {
  appearance: none;
  background: var(--color-base-300);
  border: 0;
  border-radius: var(--roundness);
  color: var(--color-primary);
  display: block;
  height: .8rem;
  position: relative;
  width: 100%;
}

progress::-webkit-progress-bar {
  background: transparent;
  border-radius: var(--roundness);
}

progress::-webkit-progress-value {
  background: var(--color-primary);
  border-radius: var(--roundness);
}

progress::-moz-progress-bar {
  background: var(--color-primary);
  border-radius: var(--roundness);
}

progress.small {
  height: .2rem;
}

figure {
  margin: 0 0 .4rem 0;
}

figure figcaption {
  color: var(--color-base-content);
  opacity: .65;
  margin-top: .4rem;
}
