.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .4rem;
  padding-right: .4rem;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    max-width: 616px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 976px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1320px;
  }
}

.container.small { max-width: 720px; }
.container.large { max-width: 1320px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.4rem;
  margin-right: -.4rem;
  margin-bottom: -.4rem;
}

.grid.no-space {
  margin: 0;
}

.grid.no-space > * {
  padding: 0;
}

.grid > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;
  padding-bottom: .8rem;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12 {
  flex: none;
}

.s12 { width: 100%; }
.s11 { width: 91.66666667%; }
.s10 { width: 83.33333333%; }
.s9 { width: 75%; }
.s8 { width: 66.66666667%; }
.s7 { width: 58.33333333%; }
.s6 { width: 50%; }
.s5 { width: 41.66666667%; }
.s4 { width: 33.33333333%; }
.s3 { width: 25%; }
.s2 { width: 16.66666667%; }
.s1 { width: 8.33333333%; }

@media (min-width: 600px) {
  .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12 {
    flex: none;
  }
  .m12 { width: 100%; }
  .m11 { width: 91.66666667%; }
  .m10 { width: 83.33333333%; }
  .m9 { width: 75%; }
  .m8 { width: 66.66666667%; }
  .m7 { width: 58.33333333%; }
  .m6 { width: 50%; }
  .m5 { width: 41.66666667%; }
  .m4 { width: 33.33333333%; }
  .m3 { width: 25%; }
  .m2 { width: 16.66666667%; }
  .m1 { width: 8.33333333%; }
}

@media (min-width: 960px) {
  .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 {
    flex: none;
  }
  .l12 { width: 100%; }
  .l11 { width: 91.66666667%; }
  .l10 { width: 83.33333333%; }
  .l9 { width: 75%; }
  .l8 { width: 66.66666667%; }
  .l7 { width: 58.33333333%; }
  .l6 { width: 50%; }
  .l5 { width: 41.66666667%; }
  .l4 { width: 33.33333333%; }
  .l3 { width: 25%; }
  .l2 { width: 16.66666667%; }
  .l1 { width: 8.33333333%; }
}


.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row > * + * {
  margin-left: .8rem;
}

.row.no-space > * + * {
  margin-left: 0;
}

.row.small-space > * + * {
  margin-left: .4rem;
}

.row > .max,
.grid > .max,
.tab > .max {
  flex: 1 1 auto;
  min-width: 0;
}